/* constant */
body { margin: 0; padding: 0; font-family: 'Allstate Sans'; width: 100%; }

a { text-decoration: none; color:#ffffff; }


/* AD SIZES */
#border320x50 { position: absolute; width: 318px; height: 48px; top:0; left:0; border:1px solid #000; z-index: 390; pointer-events: none;} 
#atAd320x50 { position: absolute; width: 320px; height: 50px; overflow: hidden;  } 

#border300x50 { position: absolute; width: 298px; height: 48px; top:0; left:0; border:1px solid #000; z-index: 390; pointer-events: none;} 
#atAd300x50 { position: absolute; width: 300px; height: 50px; overflow: hidden;  } 

#border300x250 { position: absolute; width: 298px; height: 248px; top:0; left:0; border:1px solid #000; z-index: 390; pointer-events: none;} 
#atAd300x250 { position: absolute; width: 300px; height: 250px; overflow: hidden;  } 

#border728x90 { position: absolute; width: 726px; height: 88px; top:0; left:0; border:1px solid #000; z-index: 390; pointer-events: none;} 
#atAd728x90 { position: absolute; width: 728px; height: 90px; overflow: hidden;  } 

#border160x600 { position: absolute; width: 158px; height: 598px; top:0; left:0; border:1px solid #000; z-index: 390; pointer-events: none;} 
#atAd160x600 { position: absolute; width: 160px; height: 600px; overflow: hidden;  } 

#border300x600 { position: absolute; width: 298px; height: 598px; top:0; left:0; border:1px solid #000; z-index: 390; pointer-events: none;} 
#atAd300x600 { position: absolute; width: 300px; height: 600px; overflow: hidden;  } 

.size300x250 {
	width: 300px;
	height:250px; 
}
.size300x600 {
	width: 300px;
	height:600px; 
}
.size160x600 {
	width: 160px;
	height:600px; 
}
.size728x90 {
	width: 728px;
	height:90px; 
}
.size300x50 {
	width:300px;
	height:50px; 
}
.size320x50 {
	width:320px;
	height:50px; 
}

.font1 {
	font-size: 16px; 
}
.font2 {
	font-size: 20px; 
}
.font3 {
	font-size: 24px; 
}
.font4 {
	font-size: 26px; 
}
.font5 {
	font-size: 32px; 
}
.font6 {
	font-size: 24px; 
}
.font7 {
	font-size: 38px; 
}
.marginTop1 {
	margin-top:10px;
}
.marginTop2 {
	margin-top:20px;
}
.marginTop3 {
	margin-top:30px;
}
.marginTop4 {
	margin-top:40px;
}


/* COLORS */
.bgBlue { background-color: #0033a0; }
.bgPink { background-color: #D33195; }
.bgOrange { background-color: #FF9E16; }
.bgGreen { background-color: #95d600; }
.bgLtBlue { background-color: #45BCE5; }
.bgWhite { background: #FFFFFF; }

.txtBlue { color: #0033a0; }
.txtPink { color: #D33195; }
.txtOrange { color: #FF9E16; }
.txtGreen { color: #95d600; }
.txtLtBlue { color: #45BCE5; }
.txtWhite { color: #FFFFFF; }
.txtGrey { color: #333333; }

.logoBlue { fill:#0033a0; }
.logoLtBlue { fill:#45BCE5; }
.logoWhite{ fill:#FFFFFF; }
.logoPink{ fill:#D33195; }
.logoOrange { fill: #FF9E16; }
.logoGreen { fill: #95d600; }

.shadow {
	text-shadow: rgb(0, 0, 0) 1px 1px 1px;
}
.legal_shadow {
	text-shadow: rgb(0, 0, 0) 0.5px 0.5px 0.5px;
}

.image_shadow_off { 
	display: none;
}

/* COPY */
#logo, #frame1, #frame2, #frame3, #frame4, #endFrame{
	font-family: 'Objektiv Mk2';	
	font-weight: 700;
	-webkit-font-smoothing: antialiased; 
	position: absolute;

}

#vertCenter {
    display: table-cell;
    vertical-align: middle;
}

#clickArea { position: absolute; z-index: 350; width: 100%; height: 100%; top:0; }
#clickArea .clickAreaFull { width: 100%; height: 100%; background-color: #ff9900; }
