#bgImg1 { position: absolute; top:0; }

#bgImg2 { position: absolute; top:0; opacity: 0 }

#bgImg3 { position: absolute; top:0; opacity: 0 }

.colorIN{ 
	color:#FF9E16;
}
#bkgColor {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 190;
}

#bkgColor2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 230;
    opacity: 0;
}

/* logos */
#Allstate{
	position: absolute;
    width: 90px;
    height: 20px;
    bottom: 10px;
    right: 10px;
    background-image: url(Allstate_white.svg);
    background-repeat: no-repeat;
    z-index: 300;
}
#Allstate_blue{
    position: absolute;
    width: 90px;
    height: 20px;
    bottom: 10px;
    right: 10px;
    background-image: url(Allstate_blue.svg);
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 300;
}

#Allstate_beacon img{
    margin: 0 auto;
    width: 40px;
    height: 40px;
    display: block;
}

#frame1, #frame2, #frame3{
	font-size:24px;
    line-height: 1.3;
    width: 300px;
    height: 250px; 
    text-align: center;
    z-index: 100;
    display: table;
    top: -20px;
}
#frame1 > div, #frame2 > div, #frame3 > div  {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#frame2, #frame3{
    z-index: 220;
}



/* FRAMES */


.shadow {
	text-shadow: 2px 2px 4px #000000;
}

#endFrame{
    font-size: 24px;
    line-height: 1.3!important;
    top:15px;
    width: 300px;
    text-align: center;
    line-height: 1.1;
}

.smallCopy {
    font-size: 16px;
    font-weight: 700!important;
}
.lighter {
    font-weight: 500!important;
    position: relative;
    top: 5px;
} 

#byLine{
    position: absolute;
    font-size: 12px;
    bottom:5px;
    width: 300px;
    text-align: center;
    line-height: 1.1;
    z-index: 240;
    font-weight: 300!important;
}

#mask {
    position: absolute;
    top:0;
    left:-100px;
    width:500px;
    height: 250px;
    -webkit-transform: skew(145deg);
    -moz-transform: skew(145deg);
    -o-transform: skew(145deg);
    transform: skew(145deg);
    z-index: 200
}

.f1 {
    display: inline-block;
}

#btn_cta {
    /*top: -85px!important;*/
}